h1 {
    color: blue;
}
/* call font-face */
@import url('https://cdn.jsdelivr.net/gh/KarlPiper/Github-Font-Hosting@8d6d4e19e6b66514cac0c6aab52c40404f057b2f/font.css');
/* apply font */
h1 {
	font-family: 'BMYeonSung', monospace;
	font-weight: normal;
	font-style: normal;
}
