@import url('https://raw.githubusercontent.com/KarlPiper/Github-Font-Hosting/master/font.css'); /* call font-face */
/* apply font */
h1 {
	font-family: 'BMYeonSung', monospace;
	font-weight: normal;
	font-style: normal;
}
