@font-face { /* define font-face */
    font-family: 'BMYeonSung';
    src: url('https://github.com/KarlPiper/Github-Font-Hosting/blob/master/fonts/BMYEONSUNG.woff?raw=true') format('woff'),
		url('https://github.com/KarlPiper/Github-Font-Hosting/blob/master/fonts/BMYEONSUNG.ttf?raw=true') format('truetype'),
		url('https://github.com/KarlPiper/Github-Font-Hosting/blob/master/fonts/BMYEONSUNG.otf?raw=true') format('opentype');
    font-weight: normal;
    font-style: normal;
}
