/* call font-face */
@import url('https://cdn.rawgit.com/KarlPiper/Github-Font-Hosting/f633dde8/font.css');
/* apply font */
h1 {
	font-family: 'BMYeonSung', monospace;
	font-weight: normal;
	font-style: normal;
}
